/* Footer */
#footer h2 {
    margin: 4rem;
}

.btn-color-black {
    color: rgba(0, 0, 0, 0.692);
    margin-left: 2rem;
    margin-top: 1rem;
    padding: .5rem 16px;
    border: none;
}

/* Footer */